/**
 * @name Horizontal Server List
 * @author Gibbu#1211
 * @version Dev
 * @invite TeRQEPb
 * @description Moves the server list from the left to the top of Discord. Compatible with Server Folders and most basic transparent themes
 * @source https://github.com/NupNipz/Darker-Theme/tree/main/GuildList
*/
:root {
  --HSL-server-icon-size: 40px;
  --HSL-server-spacing: 10px;
  --HSL-server-direction: column;
}