/**
 * @name Guild bar on top
 * @author NupNipz#3849
 * @version 1.0
 * @description Moves the guild bar to the top
 * @source https://github.com/NupNipz/GuildBar
*/
:root {
  --HSL-server-icon-size: 50px;
  --HSL-server-spacing: 10px;
  --HSL-server-direction: column;
}